header {
    background-color: #ffffff;
}

.hed {
    padding: 15px 0;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

.logo img {
    max-width: 60%;
}